<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <!-- Plugin Css-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/datatables.css">
    <link href="/assets/plugins/modal-effect/css/component.css" rel="stylesheet">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="/assets/js/modernizr.min.js"></script>
</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">仓库情况</h4>
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">首页</a></li>

                        <li class="active">仓库管理</li>
                    </ol>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-b-30">
                                <a href="javascript:;" class="md-trigger btn btn-primary waves-effect waves-light" data-modal="modal-8">Add <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped" id="datatable-editable">
                        <thead>
                        <tr>
                            <th>仓库编号</th>
                            <th>仓库名称</th>
                            <th>仓库大小</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX" th:each="warehouse:${warehouseList}">
                            <td th:text="${warehouse.id}"></td>
                            <td th:text="${warehouse.name}"></td>
                            <td th:text="${warehouse.capacity}"></td>
                            <td class="actions">
                                <a href="javascript:void(0);" class="md-trigger waves-effect waves-light" data-modal="modal-9" th:onclick="'javascript:getGoodsInfo(\''+${warehouse.id}+'\')'"><i class="fa fa-bar-chart"></i></a>
                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o" th:onclick="'javascript:getID(\''+${warehouse.id}+'\')'"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end: page -->
                <div class="md-modal md-effect-8" id="modal-8">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">添加仓库</h3></div>
                            <div class="panel-body">
                                <form action="addWarehouse.action" method="post" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="warehouse_id" class="col-sm-3 control-label">仓库编号</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="warehouse_id" name="warehouse_id" placeholder="仓库编号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="warehouse_name" class="col-sm-3 control-label">仓库名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="warehouse_name" name="warehouse_name" placeholder="仓库名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="warehouse_capacity" class="col-sm-3 control-label">仓库大小</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="warehouse_capacity" name="warehouse_capacity" placeholder="仓库大小">
                                        </div>
                                    </div>

                                    <div class="form-group m-b-0">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="md-check btn-sm btn-primary waves-effect waves-light">确认</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="md-close btn-sm btn-primary waves-effect waves-light">关闭</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-modal md-effect-8" id="modal-9">
                    <div class="col-md-10">
                        <div class="md-content col-md-12">
                            <section class="panel panel-info panel-color">
                            <header class="panel-heading">
                                <h2 class="panel-title">仓库库存</h2>
                            </header>
                            </section>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped" id="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>货物名称</th>
                                                <th>货物数量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button class="md-close btn-sm btn-primary waves-effect waves-light">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- end Panel -->
        </div> <!-- container -->
    </div> <!-- content -->
    <!-- MODAL -->
    <div id="dialog" class="modal-block mfp-hide">
        <section class="panel panel-info panel-color">
            <header class="panel-heading">
                <h2 class="panel-title">提示</h2>
            </header>
            <div class="panel-body">
                <form action="deleteWarehouse.action" method="post" role="form">
                    <div class="modal-wrapper">
                        <div class="modal-text">
                            <p>确认删除这条信息吗？</p>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-md-12 text-right">
                            <input type="text" name="delete_id" id="delete_id" value="" hidden>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">确认</button>
                            <button id="dialogCancel" class="btn btn-default waves-effect">取消</button>
                        </div>
                    </div>
                </form>
            </div>

        </section>
    </div>

    <!-- end Modal -->


</div>
<!-- END wrapper -->

<script>
    function getGoodsInfo(a) {
        $("#table  tr:not(:first)").html("");
        $.ajax({
            type: 'POST',
            url: 'GetGoodsInfo.action',
            data:{id:a},
            dataType: 'json',
            success: function(data){
                var item;
                $.each(data, function (i, result) {
                    item = "<tr><td>"+result['id'] + "</td><td>" + result['name'] + "</td><td>" + result["number"]+"</td></tr>";
                    $('#table').append(item);
                })
            },

        });
    }

    function getID(a) {
        document.getElementById("delete_id").setAttribute("value", a);
    }
</script>

<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>


<!-- Examples -->
<script src="/assets/plugins/datatables/jquery.magnific-popup.min.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/assets/plugins/datatables/datatables.editable.init2.js"></script>

<!-- Modal-Effect -->
<script src="/assets/plugins/modal-effect/js/classie.js"></script>
<script src="/assets/plugins/modal-effect/js/modalEffects.js"></script>

</body>
</html>